{{! template-lint-disable no-curly-component-invocation no-link-to-positional-params no-nested-interactive }}
<ul class="nav" role="menu">
  {{#each this.blog.navigation as |navigation|}}
    <li class="nav-{{navigation.label}}" role="menuitem">
      {{#if navigation.id}}
        <LinkTo @route={{navigation.route}} @model={{navigation.id}}> {{navigation.label}} </LinkTo>
      {{else if navigation.route}}
        <LinkTo @route={{navigation.route}}> {{navigation.label}} </LinkTo>
      {{else if navigation.link}}
        <a href="{{navigation.link}}"> {{navigation.label}} </a>
      {{/if}}
    </li>
  {{/each}}
</ul>