{{! template-lint-disable link-rel-noopener no-curly-component-invocation no-link-to-positional-params }}
<nav class="site-nav">
    <div class="site-nav-left">
        {{#unless this.isHome}}
            {{#if this.blog.logo}}
                <LinkTo @route="index" class="site-nav-logo"><img src={{this.blog.logo}} alt={{this.blog.title}} /></LinkTo>
            {{else}}
                <LinkTo @route="index" class="site-nav-logo">{{this.blog.title}}</LinkTo>
            {{/if}}
        {{/unless}}
        {{#if this.blog.navigation}}
            <NavigationLinks />
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {{#if this.blog.facebook}}
                <a class="social-link social-link-fb" href="https://www.facebook.com/{{this.blog.facebook}}" title="Facebook" target="_blank" rel="noopener"><SvgIcons::Facebook /></a>
            {{/if}}
            {{#if this.blog.twitter}}
                <a class="social-link social-link-tw" href="https://twitter.com/{{this.blog.twitter}}" title="Twitter" target="_blank" rel="noopener"><SvgIcons::Twitter /></a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{else if this.blog.host}}
            <a class="rss-button" href={{this.rssFeed}} target="_blank" rel="noopener"><SvgIcons::Rss /></a>
        {{/if}}
    </div>
</nav>